---
import '@styles/main.css';
import { Body, BodyMd, Flex, FlexItem } from '@components/primitives';
import { Banner, Footer, Sidebar } from '@/components/patterns';
import { Header } from '@/components/patterns';
import { getLangFromUrl, replaceLanguageInPath } from '@/i18n/utils';
import { languages } from '@/i18n/locales';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Express - Node.js web application framework',
  description = 'Fast, unopinionated, minimalist web framework for Node.js',
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} dir={languages[lang].direction}>
  <head>
    <script is:inline>
      (function () {
        const theme = (() => {
          if (typeof localStorage !== 'undefined') {
            const storedTheme = localStorage.getItem('theme');
            if (storedTheme === 'dark' || storedTheme === 'light') {
              return storedTheme;
            }
          }
          if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
          }
          return 'light';
        })();
        document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site || Astro.url.origin)} />

    {
      Object.keys(languages).map((altLang) => (
        <link
          rel="alternate"
          hreflang={altLang}
          href={
            new URL(
              replaceLanguageInPath(Astro.url.pathname, altLang),
              Astro.site || Astro.url.origin
            )
          }
        />
      ))
    }

    <title>{title}</title>

    <style is:inline>
      @layer base, primitives, patterns;
    </style>
  </head>
  <body>
    <Header />
    <Flex>
      <Sidebar />
      <FlexItem grow>
        <Flex direction="column" class="h-full">
          <main id="main-content">
            <Banner
              id="express-5-1-0-lts"
              variant="info"
              startDate="2026-03-01"
              endDate="2026-03-31"
              dismissible
              title="Express@5.1.0: Now the Default on npm with LTS Timeline"
            >
              <BodyMd vMargin={false}
                >Express 5.1.0 is now the default on npm, and we're introducing an official LTS
                schedule for the v4 and v5 release lines. <a href={`/${lang}/blog`}
                  >Check out our latest blog</a
                > for more information.</BodyMd
              >
            </Banner>
            <slot />
          </main>
          <Footer />
        </Flex>
      </FlexItem>
    </Flex>
  </body>
</html>
