---
/**
 * Breadcrumbs Component
 * Renders a breadcrumb navigation based on provided items
 */
import { Body } from '@components/primitives';
import { Icon } from 'astro-icon/components';
import type { BreadcrumbItem } from '@utils/content';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import './Breadcrumbs.css';

interface Props {
  items: BreadcrumbItem[];
}

const { items } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav aria-label={t('nav.breadcrumb')}>
  <ol class="breadcrumbs">
    <li class="flex items-center gap-3">
      <Body
        vMargin={false}
        as="a"
        href={`/${lang}`}
        class="breadcrumb-link"
        aria-label={t('nav.home')}
      >
        <Icon name="fluent:home-empty-20-regular" />
      </Body>
      {items.length > 0 && <Icon name="fluent:chevron-right-28-regular" aria-hidden="true" />}
    </li>
    {
      items.map((item, index) => (
        <li class="flex items-center gap-3">
          {item.href ? (
            <Body vMargin={false} as="a" href={item.href} class="breadcrumb-link">
              {item.icon && (
                <Icon
                  name={item.icon}
                  aria-hidden={item.label ? 'true' : undefined}
                  aria-label={!item.label ? item.ariaLabel : undefined}
                />
              )}
              {item.label}
            </Body>
          ) : (
            <Body vMargin={false} class="breadcrumb-item">
              {item.icon && (
                <Icon
                  name={item.icon}
                  aria-hidden={item.label ? 'true' : undefined}
                  aria-label={!item.label ? item.ariaLabel : undefined}
                />
              )}
              {item.label}
            </Body>
          )}
          {index < items.length - 1 && (
            <Icon name="fluent:chevron-right-28-regular" aria-hidden="true" />
          )}
        </li>
      ))
    }
  </ol>
</nav>
