---
import { getCollection, render } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import { Container, Button } from '@/components/primitives';
import { languages } from '@i18n/locales';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { Icon } from 'astro-icon/components';
import { PageTopbar, PostHeader } from '@/components/patterns';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  const enPosts = posts.filter((post) => post.id.startsWith('en/'));

  return Object.keys(languages).flatMap((lang) =>
    enPosts.map((post) => {
      const filename = post.id.split('/').pop()!;
      return {
        params: { lang, slug: filename },
        props: { post },
      };
    })
  );
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { post } = Astro.props;
const { Content } = await render(post);

const { title, description, tags, authors } = post.data;
const authorsList = (authors ?? []).map((a) => ({
  src: a.github ? `https://github.com/${a.github}.png` : '',
  name: a.name ?? '',
}));
const filename = post.id.split('/').pop() ?? post.id;
const dateStr = filename.substring(0, 10);
const date = new Date(dateStr).toLocaleDateString('en-US', {
  month: 'long',
  day: 'numeric',
  year: 'numeric',
});
const labels = tags ?? [];
---

<Layout title={title} description={description}>
  <Container>
    <PageTopbar
      breadcrumbs={[
        {
          href: `/${Astro.params.lang}/`,
          ariaLabel: t('nav.home'),
          icon: 'fluent:home-empty-20-regular',
        },
        { label: t('menu.blog'), href: `/${Astro.params.lang}/blog` },
      ]}
    >
      <!-- TODO: review GitHub edit link -->
      <Button
        as="a"
        variant="secondary"
        size="sm"
        href={`https://github.com/expressjs/expressjs.com/edit/gh-pages/src/content/blog/en/blog/${Astro.params.slug}`}
      >
        <Icon name="github" aria-hidden="true" />
        {t('page.editOnGitHub')}
      </Button>
    </PageTopbar>

    <article>
      <PostHeader labels={labels} title={title} authors={authorsList} date={date} />
      <Content />
    </article>
  </Container>
</Layout>
