---
import { getCollection, render } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import { Container, H1, BodySm, Avatar } from '@/components/primitives';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => {
    const [lang, filename] = post.id.split('/');
    return {
      params: { lang, slug: filename },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);

const { title, description, tags, authors } = post.data;
const author = authors?.[0];
const filename = post.id.split('/').pop() ?? post.id;
const dateStr = filename.substring(0, 10);
const date = new Date(dateStr).toLocaleDateString('en-US', {
  month: 'long',
  day: 'numeric',
  year: 'numeric',
});
const label = tags?.split(' ')[0] ?? '';
---

<Layout title={title} description={description}>
  <Container>
    <article>
      {label && <BodySm as="span" color="secondary" vMargin={false}>{label}</BodySm>}
      <H1>{title}</H1>
      {
        author && (
          <Avatar
            src={author.github ? `https://github.com/${author.github}.png` : ''}
            name={author.name}
            caption={date}
            size="md"
          />
        )
      }
      <Content />
    </article>
  </Container>
</Layout>
